This notebook merges the ['1137190.xlsx', '11455478.xlsx', '11455508.xlsx', '380631122032201.xlsx'] excel workbooks

In [3]:
import pandas as pd
import os

In [12]:
filelist = os.listdir()
filelist = [file for file in filelist if file[-5:] == '.xlsx']
filelist

['1137190.xlsx', '11455478.xlsx', '11455508.xlsx', '380631122032201.xlsx']

In [13]:
df1 = pd.read_excel(filelist[0])
df2 = pd.read_excel(filelist[1])
df3 = pd.read_excel(filelist[2])
df4 = pd.read_excel(filelist[3])

In [14]:
df = pd.concat([df1,df2,df3,df4])

In [15]:
df

,Unnamed: 0,TotalLimno,ALLCYCADULTS,ALLCYCJUV,ALLCOPNAUP,ALLROTIFERS,temp_c,specific_conductance,ph,dissolved_o2_mg_l,...,dissolved_o2_percent_sat,11_day_temp_c,11_day_specific_conductance,11_day_ph,11_day_dissolved_o2_mg_l,11_day_turbidity,11_day_nitrate_nitrite,11_day_organic_matter,11_day_salinity,11_day_dissolved_o2_percent_sat
0,274,320,320,427,23482,9393,17.9,172.0,7.8,9.2,...,96.0,17.970135,195.824577,7.800000,9.149921,6.683658,0.301011,13.714064,0.100000,96.555515
1,275,187,187,934,16624,4483,17.9,198.0,7.8,9.2,...,97.0,18.012165,255.112062,7.740853,9.025867,9.532130,0.308989,14.078749,0.100000,95.258675
2,276,107,107,107,8432,5123,15.5,271.0,7.6,9.2,...,92.0,15.577728,252.405926,7.600881,9.199048,3.811088,0.498989,17.332461,0.100000,92.432097
3,277,427,427,107,5337,2775,15.6,258.0,7.6,9.2,...,92.0,15.600000,233.002626,7.609226,9.239091,3.404589,0.508989,18.017114,0.100000,92.817766
4,278,445,445,356,7027,5070,11.3,1280.0,7.6,9.9,...,91.0,11.300000,1210.804276,7.600000,9.900881,7.061364,0.638989,27.145784,0.589893,91.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,349,74493,74493,55147,362903,187011,14.9,15600.0,7.7,8.7,...,91.0,14.989893,18219.121365,7.670135,8.379736,9.802286,NaN,17.788555,10.781786,88.831737
74,350,45096,45630,10273,77917,4670,14.9,15600.0,7.7,8.7,...,91.0,14.989893,18219.121365,7.670135,8.379736,9.802286,NaN,17.788555,10.781786,88.831737
75,351,44162,44162,8405,103801,667,12.1,18200.0,7.5,9.4,...,94.0,12.148064,16765.213172,7.500000,9.505630,21.109991,0.583784,24.305620,9.796414,94.000000
76,352,17398,17398,4696,79305,534,12.1,18200.0,7.5,9.4,...,94.0,12.148064,16765.213172,7.500000,9.505630,21.109991,0.583784,24.305620,9.796414,94.000000
77,353,18786,18786,4376,74075,3736,12.1,18200.0,7.5,9.4,...,94.0,12.148064,16765.213172,7.500000,9.505630,21.109991,0.583784,24.305620,9.796414,94.000000

In [16]:
sum([0,1,2,3])

6

In [17]:
[len(entry) for entry in [df1,df2,df3,df4]]

[51, 24, 104, 78]

In [18]:
df.isna().sum()

Unnamed: 0                          0
TotalLimno                          0
ALLCYCADULTS                        0
ALLCYCJUV                           0
ALLCOPNAUP                          0
ALLROTIFERS                         0
temp_c                              2
specific_conductance                2
ph                                  8
dissolved_o2_mg_l                   2
turbidity                           0
nitrate_nitrite                    15
fChl                               12
organic_matter                      2
salinity                            2
dissolved_o2_percent_sat            2
11_day_temp_c                       2
11_day_specific_conductance         6
11_day_ph                           8
11_day_dissolved_o2_mg_l            3
11_day_turbidity                    0
11_day_nitrate_nitrite             19
11_day_organic_matter               2
11_day_salinity                     6
11_day_dissolved_o2_percent_sat     2
dtype: int64

In [23]:
df.drop(columns= ['Unnamed: 0'], inplace = True)

In [24]:
df.dropna().to_excel('merged.xlsx')