# SACRAMENTO R A DECKER ISLAND NR RIO VISTA CA

The following stationNZ codes are goign to be used:
- NZ064

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
NZlist = ['NZ064']

In [3]:
df = pd.read_excel('usgs/11455478.xlsx')
zoo_df = pd.read_excel('zooplankton/zoo_df.xlsx')

In [4]:
df.drop(labels = 0,inplace = True)

In [5]:
zoo_df = zoo_df.loc[zoo_df.StationNZ.isin(NZlist)]

In [6]:
zoo_df

,Unnamed: 0,SampleDate,StationNZ,Region,TotalLimno,ALLCYCADULTS,ALLCYCJUV,ALLCOPNAUP,ALLROTIFERS
7,20229,2010-01-08,NZ064,SacR,854,854,160,7258,3896
26,20248,2010-02-08,NZ064,SacR,0,0,1281,27805,28605
49,20271,2010-03-10,NZ064,SacR,0,0,53,4803,8432
70,20292,2010-04-07,NZ064,SacR,80,80,80,1561,1321
87,20309,2010-05-07,NZ064,SacR,0,0,0,3522,2455
...,...,...,...,...,...,...,...,...,...
2129,22351,2019-07-08,NZ064,SacR,106,106,106,9877,2974
2154,22376,2019-08-08,NZ064,SacR,747,747,560,9153,1868
2174,22396,2019-09-06,NZ064,SacR,160,160,213,6778,1494
2190,22412,2019-10-07,NZ064,SacR,320,320,107,6084,694
2209,22431,2019-11-06,NZ064,SacR,427,427,320,29459,1067

In [7]:
zoo_df.SampleDate

7      2010-01-08
26     2010-02-08
49     2010-03-10
70     2010-04-07
87     2010-05-07
          ...
2129   2019-07-08
2154   2019-08-08
2174   2019-09-06
2190   2019-10-07
2209   2019-11-06
Name: SampleDate, Length: 116, dtype: datetime64[ns]

In [8]:
df.datetime

1         2017-10-08 00:00:00
2         2017-10-08 00:15:00
3         2017-10-08 00:30:00
4         2017-10-08 00:45:00
5         2017-10-08 01:00:00
                 ...
106703    2020-10-07 18:45:00
106704    2020-10-07 19:00:00
106705    2020-10-07 19:15:00
106706    2020-10-07 19:30:00
106707    2020-10-07 19:45:00
Name: datetime, Length: 106707, dtype: object

In [9]:
zoo_df.SampleDate = pd.to_datetime(zoo_df.SampleDate)
df.datetime = pd.to_datetime(df.datetime)

In [10]:
from gauss import gauss_dist
dist = gauss_dist(11)
dist

[0.008812229292562286,
 0.02714357714347937,
 0.06511405659938267,
 0.12164907301380959,
 0.17699835683135567,
 0.20056541423882082,
 0.17699835683135567,
 0.12164907301380959,
 0.06511405659938267,
 0.02714357714347937,
 0.008812229292562286]

In [11]:
df.columns

Index(['datetime', '16214_00010', '16215_00095', '16216_00400', '16218_63680',
       '16220_00300', '16221_99133', '248800_32316', '248804_32295',
       '257815_00480', '260066_00301'],
      dtype='object')

In [12]:
df.columns = ['datetime', 'temp_c', 'specific_conductance', 'ph', 'turbidity',
           'dissolved_o2_mg_l', 'nitrate_nitrite', 'fChl', 'organic_matter',
              'salinity', 'dissolved_o2_percent_sat']

In [13]:
df['11_day_temp_c'] = np.nan
df['11_day_specific_conductance'] = np.nan
df['11_day_ph'] = np.nan
df['11_day_dissolved_o2_mg_l'] = np.nan
df['11_day_turbidity'] = np.nan
df['11_day_nitrate_nitrite'] = np.nan
df['11_day_organic_matter'] = np.nan
df['11_day_salinity'] = np.nan
df['11_day_dissolved_o2_percent_sat'] = np.nan

In [14]:
df.tail()

,datetime,temp_c,specific_conductance,ph,turbidity,dissolved_o2_mg_l,nitrate_nitrite,fChl,organic_matter,salinity,dissolved_o2_percent_sat,11_day_temp_c,11_day_specific_conductance,11_day_ph,11_day_dissolved_o2_mg_l,11_day_turbidity,11_day_nitrate_nitrite,11_day_organic_matter,11_day_salinity,11_day_dissolved_o2_percent_sat
106703,2020-10-07 18:45:00,21.2,5320,7.9,10.5,8,0.34,2,22.7,2.8,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106704,2020-10-07 19:00:00,21.2,5490,7.9,9.1,8,0.34,1.9,22.9,2.9,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106705,2020-10-07 19:15:00,21.2,5560,7.9,7.5,8,0.33,2,22.5,3,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106706,2020-10-07 19:30:00,21.2,5650,8,6.4,8,0.34,2,22.7,3,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106707,2020-10-07 19:45:00,21.2,5440,8,6.9,8,NaN,NaN,22.6,2.9,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df = df.loc[df.datetime >= (zoo_df.SampleDate.min() - datetime.timedelta(days = 12))]
df = df.loc[df.datetime < datetime.datetime(2020,1,1)]

# for i in range(11,len(df)):
#     df['11_day_temp_c'][i] = sum(np.multiply(dist,list(df.temp_c[i-11:i])))
#     df['11_day_specific_conductance'][i] = sum(np.multiply(dist,list(df.specific_conductance[i-11:i])))
#     df['11_day_ph'][i] = sum(np.multiply(dist,list(df.ph[i-11:i])))
#     df['11_day_dissolved_o2_mg_l'][i] = sum(np.multiply(dist,list(df.dissolved_o2_mg_l[i-11:i])))
#     df['11_day_turbidity'][i] = sum(np.multiply(dist,list(df.turbidity[i-11:i])))
#     df['11_day_nitrate_nitrite'][i] = sum(np.multiply(dist,list(df.nitrate_nitrite[i-11:i])))
#     df['11_day_organic_matter'][i] = sum(np.multiply(dist,list(df.organic_matter[i-11:i])))
#     df['11_day_salinity'][i] = sum(np.multiply(dist,list(df.salinity[i-11:i])))
#     df['11_day_dissolved_o2_percent_sat'][i] = sum(np.multiply(dist,list(df.dissolved_o2_percent_sat[i-11:i])))

for i in range(11,len(df)):
    df.loc[i,'11_day_temp_c'] = sum(np.multiply(dist,list(df.temp_c[i-11:i])))
    df.loc[i,'11_day_specific_conductance'] = sum(np.multiply(dist,list(df.specific_conductance[i-11:i])))
    df.loc[i,'11_day_ph'] = sum(np.multiply(dist,list(df.ph[i-11:i])))
    df.loc[i,'11_day_dissolved_o2_mg_l'] = sum(np.multiply(dist,list(df.dissolved_o2_mg_l[i-11:i])))
    df.loc[i,'11_day_turbidity'] = sum(np.multiply(dist,list(df.turbidity[i-11:i])))
    df.loc[i,'11_day_nitrate_nitrite'] = sum(np.multiply(dist,list(df.nitrate_nitrite[i-11:i])))
    df.loc[i,'11_day_organic_matter'] = sum(np.multiply(dist,list(df.organic_matter[i-11:i])))
    df.loc[i,'11_day_salinity'] = sum(np.multiply(dist,list(df.salinity[i-11:i])))
    df.loc[i,'11_day_dissolved_o2_percent_sat'] = sum(np.multiply(dist,list(df.dissolved_o2_percent_sat[i-11:i])))

df = df[11:]

In [16]:
df

,datetime,temp_c,specific_conductance,ph,turbidity,dissolved_o2_mg_l,nitrate_nitrite,fChl,organic_matter,salinity,dissolved_o2_percent_sat,11_day_temp_c,11_day_specific_conductance,11_day_ph,11_day_dissolved_o2_mg_l,11_day_turbidity,11_day_nitrate_nitrite,11_day_organic_matter,11_day_salinity,11_day_dissolved_o2_percent_sat
12,2017-10-08 02:45:00,17.3,114,7.4,6.4,8.8,NaN,NaN,4,0,91,17.200881,113.991188,7.403596,8.797286,5.568698,NaN,4.076921,0.0,91.000000
13,2017-10-08 03:00:00,17.3,114,7.4,7.3,8.7,NaN,NaN,4,0,91,17.203596,114.000000,7.400881,8.792607,5.648747,NaN,4.014360,0.0,91.000000
14,2017-10-08 03:15:00,17.3,114,7.4,7.2,8.7,NaN,NaN,3.9,0,91,17.210107,114.000000,7.400000,8.784240,5.822867,NaN,3.975840,0.0,91.000000
15,2017-10-08 03:30:00,17.3,113,7.4,8.4,8.7,NaN,NaN,3.7,0,91,17.222272,113.991188,7.400000,8.772193,6.087668,NaN,3.960768,0.0,91.000000
16,2017-10-08 03:45:00,17.4,113,7.4,8,8.7,NaN,NaN,3.6,0,91,17.240853,113.964044,7.400000,8.757672,6.412446,NaN,3.955194,0.0,91.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79743,2019-12-31 22:45:00,9.2,201,7.4,7.8,10.2,0.59,1.7,34.1,0.1,89,9.239972,202.432718,7.410988,10.189893,6.917179,0.607685,34.098238,0.1,88.101070
79744,2019-12-31 23:00:00,9.2,201,7.4,7.8,10.2,0.59,1.7,34,0.1,89,9.222272,201.903725,7.397965,10.196404,7.148121,0.605643,34.087930,0.1,88.222719
79745,2019-12-31 23:15:00,9.1,201,7.4,7.5,10.2,0.59,1.7,34.1,0.1,89,9.209226,201.518412,7.388716,10.199119,7.341129,0.602986,34.079943,0.1,88.399717
79746,2019-12-31 23:30:00,9.1,201,7.4,7.5,10.2,0.58,1.7,33.9,0.1,89,9.200000,201.258675,7.382300,10.200000,7.479183,0.599912,34.074908,0.1,88.600283
79747,2019-12-31 23:45:00,9.1,202,7.4,7.4,10.2,0.58,1.7,33.9,0.1,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
zoo_df = zoo_df.merge(df, how='left', left_on='SampleDate', right_on='datetime')
zoo_df

,Unnamed: 0,SampleDate,StationNZ,Region,TotalLimno,ALLCYCADULTS,ALLCYCJUV,ALLCOPNAUP,ALLROTIFERS,datetime,...,dissolved_o2_percent_sat,11_day_temp_c,11_day_specific_conductance,11_day_ph,11_day_dissolved_o2_mg_l,11_day_turbidity,11_day_nitrate_nitrite,11_day_organic_matter,11_day_salinity,11_day_dissolved_o2_percent_sat
0,20229,2010-01-08,NZ064,SacR,854,854,160,7258,3896,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20248,2010-02-08,NZ064,SacR,0,0,1281,27805,28605,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20271,2010-03-10,NZ064,SacR,0,0,53,4803,8432,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20292,2010-04-07,NZ064,SacR,80,80,80,1561,1321,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20309,2010-05-07,NZ064,SacR,0,0,0,3522,2455,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,22351,2019-07-08,NZ064,SacR,106,106,106,9877,2974,2019-07-08,...,94,22.000881,125.341608,7.503415,8.376847,10.136107,0.317773,17.140186,0.100000,95.768469
112,22376,2019-08-08,NZ064,SacR,747,747,560,9153,1868,2019-08-08,...,93,23.060028,615.608820,7.700000,8.000000,13.381606,0.300000,19.251885,0.289012,93.000000
113,22396,2019-09-06,NZ064,SacR,160,160,213,6778,1494,2019-09-06,...,91,22.210988,150.850657,7.504572,7.900000,8.974993,0.283909,19.421092,0.100000,90.109882
114,22412,2019-10-07,NZ064,SacR,320,320,107,6084,694,2019-10-07,...,94,17.600000,135.226736,7.654014,8.883539,3.473161,0.300000,17.592607,0.100000,93.380324
115,22431,2019-11-06,NZ064,SacR,427,427,320,29459,1067,2019-11-06,...,87,14.209226,140.485411,7.472193,8.933460,5.996744,0.453638,16.094028,0.100000,87.027144

In [18]:
zoo_df = zoo_df.loc[zoo_df.SampleDate >= datetime.datetime(2017,10,10)]

In [19]:
len(zoo_df)

24

In [20]:
zoo_df.columns

Index(['Unnamed: 0', 'SampleDate', 'StationNZ', 'Region', 'TotalLimno',
       'ALLCYCADULTS', 'ALLCYCJUV', 'ALLCOPNAUP', 'ALLROTIFERS', 'datetime',
       'temp_c', 'specific_conductance', 'ph', 'turbidity',
       'dissolved_o2_mg_l', 'nitrate_nitrite', 'fChl', 'organic_matter',
       'salinity', 'dissolved_o2_percent_sat', '11_day_temp_c',
       '11_day_specific_conductance', '11_day_ph', '11_day_dissolved_o2_mg_l',
       '11_day_turbidity', '11_day_nitrate_nitrite', '11_day_organic_matter',
       '11_day_salinity', '11_day_dissolved_o2_percent_sat'],
      dtype='object')

In [21]:
zoo_df.drop(columns=['Unnamed: 0', 'SampleDate', 'StationNZ', 'Region', 'datetime'], inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
zoo_df

,TotalLimno,ALLCYCADULTS,ALLCYCJUV,ALLCOPNAUP,ALLROTIFERS,temp_c,specific_conductance,ph,turbidity,dissolved_o2_mg_l,...,dissolved_o2_percent_sat,11_day_temp_c,11_day_specific_conductance,11_day_ph,11_day_dissolved_o2_mg_l,11_day_turbidity,11_day_nitrate_nitrite,11_day_organic_matter,11_day_salinity,11_day_dissolved_o2_percent_sat
92,2348,2348,1921,28392,4590,10.7,171,7.5,12.8,9.8,...,88,10.850079,185.544876,7.500881,9.707393,14.871175,0.400360,18.873389,0.100881,88.008812
93,1067,1067,712,12808,12275,9.5,185,7.5,7.7,10.2,...,90,9.574133,270.317263,7.500000,10.200000,9.668872,0.328230,9.943969,0.110107,89.101070
94,0,0,213,3095,5123,11.4,199,7.5,8.6,9.9,...,91,11.310107,195.591470,7.500000,9.899119,9.015286,0.387014,21.924942,0.100000,90.600283
95,0,0,240,5444,17692,10.9,197,7.6,11.2,10,...,91,10.936376,196.842395,7.600000,10.000000,10.964694,0.416496,22.025753,0.100000,91.000000
96,0,0,320,9446,21934,15.3,137,7.3,9.9,9.3,...,93,15.243567,133.582464,7.328783,9.360028,7.415247,0.280000,21.516443,0.100000,93.000000
97,0,0,213,19106,3843,18.7,174,7.8,11.8,9.1,...,98,18.886954,173.823002,7.722272,9.021391,11.878116,0.336003,20.595542,0.100000,97.027144
98,240,240,0,12088,1681,21,160,7.6,8,8.5,...,95,21.022272,165.962665,7.689893,8.470135,9.554045,0.399552,17.699540,0.100000,95.000000
99,18786,18786,7365,117410,854,22.4,336,7.8,19.4,8.3,...,95,22.126749,737.439519,7.899119,8.396404,17.021635,0.380671,7.129622,0.356433,96.512554
100,1708,1708,1067,14303,747,22.5,164,7.7,9,8,...,92,22.240471,308.119202,7.818676,8.117700,13.143296,0.309912,17.445724,0.139972,93.591470
101,13342,13342,8432,92647,747,20.8,207,7.8,9.5,8,...,90,20.789012,264.900492,7.900000,8.157314,11.500517,0.306003,20.128209,0.100881,90.934886
102,70490,70490,33800,318430,2001,18.7,299,7.7,13.6,8.4,...,90,18.737756,507.365098,7.789893,8.500000,20.770888,0.400000,16.897035,0.226749,91.399717
103,39706,39706,15157,248482,2348,13,4850,7.7,16.5,9.3,...,90,12.613152,2361.442111,7.660028,9.399119,7.386256,0.586003,19.836424,1.192553,89.008812
104,4483,4483,1067,30953,2989,11,284,7.5,6.8,8.9,...,81,11.023153,293.913988,7.500000,8.889893,9.346001,0.742062,49.585872,0.100881,80.734321
105,0,0,427,11954,25296,8.9,218,7.7,17.4,10.6,...,91,8.827902,217.806265,7.680667,10.600000,16.571376,0.557255,36.318869,0.100000,91.000000
106,0,0,0,584,1446,9.1,204,7.5,28.3,10,...,87,9.154076,201.526090,7.500000,10.003596,29.501838,0.493997,51.239040,0.100000,87.000000
107,0,0,0,17718,43975,11.6,187,7.5,72.4,9.4,...,86,11.423153,182.380920,7.500000,9.377728,68.197023,0.330000,35.248828,0.100000,85.777281
108,0,0,0,11634,142600,15.5,199,7.5,16.2,9.6,...,96,15.472623,187.865010,7.509226,9.593489,16.039624,0.199708,23.379036,0.100000,95.934886
109,0,0,854,20066,54435,16.5,131,7.4,6.9,9.4,...,97,16.500881,127.478439,7.403596,9.477728,6.550649,0.221011,14.861721,0.100000,97.000000
110,0,133,400,11874,61907,19.1,105,7.3,6.9,9,...,97,19.032579,105.298647,7.289893,8.913703,7.549710,0.190000,15.916779,0.000000,96.128213
111,106,106,106,9877,2974,22,123,7.3,12.4,8.3,...,94,22.000881,125.341608,7.503415,8.376847,10.136107,0.317773,17.140186,0.100000,95.768469
112,747,747,560,9153,1868,23,402,7.7,11.4,8,...,93,23.060028,615.608820,7.700000,8.000000,13.381606,0.300000,19.251885,0.289012,93.000000
113,160,160,213,6778,1494,22.3,142,7.5,9.7,7.9,...,91,22.210988,150.850657,7.504572,7.900000,8.974993,0.283909,19.421092,0.100000,90.109882
114,320,320,107,6084,694,17.6,135,7.3,3.3,9,...,94,17.600000,135.226736,7.654014,8.883539,3.473161,0.300000,17.592607,0.100000,93.380324
115,427,427,320,29459,1067,14.3,142,7.5,6.3,8.9,...,87,14.209226,140.485411,7.472193,8.933460,5.996744,0.453638,16.094028,0.100000,87.027144

In [23]:
zoo_df.to_excel('merged/11455478.xlsx')