In [1]:
import pandas as pd
import seaborn as sns

In [28]:
#df = pd.read_csv('usgs.txt', sep='\t')
df = pd.read_table('usgs.txt')

In [29]:
for label in df.columns:
    label = label.strip()
df.drop(columns=['agency_cd','site_no','tz_cd','164023_00010_cd','164024_00095_cd','164025_00400_cd','164034_99133_cd','248715_32316_cd','248718_32295_cd','257814_00480_cd','260064_00301_cd','164026_00300_cd','164028_63680_cd','248715_32316'],inplace = True)
df.drop([0],inplace = True)
pd.option_context('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
df.head()

           datetime 164023_00010 164024_00095 164025_00400 164026_00300 164028_63680 164034_99133 248718_32295 257814_00480 260064_00301
1  2017-10-03 00:00  19.1         194          7.9          9.0          5.1          0.30         14.7         0.1          97
2  2017-10-03 00:15  19.1         199          7.9          8.9          4.9          0.30         14.7         0.1          96
3  2017-10-03 00:30  19.1         201          7.9          8.9          5.0          0.30         14.8         0.1          96
4  2017-10-03 00:45  19.2         211          7.9          8.9          5.4          0.30         15.0         0.1          97
5  2017-10-03 01:00  19.2         215          7.9          8.9          5.2          0.30         15.1         0.1          96

In [30]:
df.datetime = df.datetime.apply(lambda x : x[:10])
df.head()

     datetime 164023_00010 164024_00095 164025_00400 164026_00300 164028_63680 164034_99133 248718_32295 257814_00480 260064_00301
1  2017-10-03  19.1         194          7.9          9.0          5.1          0.30         14.7         0.1          97
2  2017-10-03  19.1         199          7.9          8.9          4.9          0.30         14.7         0.1          96
3  2017-10-03  19.1         201          7.9          8.9          5.0          0.30         14.8         0.1          96
4  2017-10-03  19.2         211          7.9          8.9          5.4          0.30         15.0         0.1          97
5  2017-10-03  19.2         215          7.9          8.9          5.2          0.30         15.1         0.1          96

In [31]:
for column in list(df.columns)[1:]:
        df[column] = df[column].astype(float)

In [36]:
df.columns = ['datetime', 'temp_c', 'specific_conductance','ph','dissolved_o2_mg_l','turbidity','nitrate_nitrite','organic_matter','salinity','dissolved_o2_percent_sat']

In [38]:
df.groupby(['datetime']).mean().to_csv('20mm_daily.csv')